<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <%- include('partials/navbar', {page: '/about'}) %>
    <div class="container mx-auto">
        <div class="min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
                <img src="https://dc694.4shared.com/img/gdJxp4-6ge/s24/18b248b9f60/IMG_4820?async&rand=0.745063597275049"  class="max-w-sm rounded-lg shadow-2xl" />
                <div>
                    <h1 class="text-5xl font-bold">About ME</h1>
                    <p class="py-6">I am an asspiring Software Developer.Who has more than 3 years of training.I am hoping my skilss will be  an asset to the job market as i plan on using my skils to serve others and  make my community better place.</p>
                    <button class="btn btn-primary">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>